@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: orange;
}

.user-name {
  font-weight: bold;
}

.timestamp {
  color: #9e9e9e;
}

.blue-bg {
  background-color: steelblue;
  li {
    background-color:lighten($color: steelblue, $amount: 30%);
  }
  nav {
    background-color: darken($color: steelblue, $amount: 20%);
  }
}

.red-bg {
  background-color: maroon;
  li {
    background-color:lighten($color: maroon, $amount: 10%);
  }
  nav {
    background-color: darken($color: maroon, $amount: 10%);
  }
}

.green-bg {
  background-color: olivedrab;
  li {
    background-color:lighten($color: olivedrab, $amount: 30%);
  }
  nav {
    background-color: darken($color: olivedrab, $amount: 20%);
  }
}

.light-txt {
  color: whitesmoke;
}

.dark-txt {
  color: black; 
}

.gray-txt {
  color: gray;
}
