@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: orange;
}

.user-name {
  font-weight: bold;
}

.message-text {
  margin-right: 5em;
}

.timestamp {
  color: #9e9e9e;
}
body.black {
 filter: invert(100%);
 background-color: black;
}

h4 {
font-size: medium;
color: blanchedalmond;
margin-right: 10px;
}